.main {
    // background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 93vh;
}

.container {
    // background-color: aliceblue;
    height: fit-content;
    width: inherit;
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.readmetext {
    font-family: IBM Plex Mono;
    font-style: italic;
    color: gray;
    align-self: flex-start;
}

.content {
    background-color: aliceblue;
    padding: 2em;
    font-family: 'IBM Plex Mono';
    font-size: 80%;
    // font-family: 'Cormorant Garamond';
    // border: 1em solid gray;
}

.socials {
    margin: 1em;
    // background-color: aquamarine;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.social {
    margin: 0.5em;
    font-family: 'IBM Plex Mono';
    text-decoration: none;
    // background-color: azure;
}