.main {
    background-color: aliceblue;
    flex-wrap: wrap;
}

.bubble {
    background-color: aliceblue;
}

.languages {
    background-color: aliceblue;
}

.os {
    background-color: aliceblue;
}

.data {
    background-color: aliceblue;
}

