.accordion_section {
    display: flex;
    flex-direction: column;
}

.accordion {
    background-color: aliceblue;
    color: #444;
    cursor: pointer;
    padding: 1em;
    padding-bottom: 0%;
    display: flex;
    justify-content: space-between;
    border: none;
    outline: none;
    transition: background-color 0.6s ease;
}

.accordion:hover, .active {
    background-color: #c2e2ff;
}

.accordion_title {
    font-family: "IBM Plex Mono";
    font-weight: 600;
    font-size: 14px;
}

.accordion_icon {
    margin-left: 1em;
    transition: transform 0.6s ease;
}

.rotate {
    transform: rotate(180deg);
}

.accordion_content {
    background-color: white;
    overflow: hidden;
    transition: max-height 0.6s ease;
}

.accordion_text {
    font-family: "IBM Plex Mono";
    font-weight: 400;
    font-size: 14px;
    padding: 18px;
}

.accordion_github {
    font-family: "IBM Plex Mono";
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    color: #444;
}

.accordion_filler {
    flex-grow: 4;
}

.accordion_techstack {
    font-family: "IBM Plex Mono";
    font-weight: 400;
    font-size: 14px;
    padding: 18px;
    color: #444;
    width: 54em;
    text-align: right;
}

.accordion_text_structure {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}