.projectCard {
    background: palevioletred;
    border-radius: 5%;
    margin: 2em;

    p {
        font-family: 'Courier New', Courier, monospace;
    }
}

.description {
    background: paleturquoise;
    margin: 1em;
}

.tags {
    background: palegreen;
    margin: 1em;
}