.topcontainer {
    background-color: purple;
    position: absolute;
    top: 0;
    bottom: 0;
}

.container {
    background-color: red;
    margin: 1.5rem 1.5rem;
}

.logobox {
    background-color: yellow;
    padding: 1rem;
    margin: 1rem;
}

.logotext {
    text-align: center;
    background-color: blue;
    padding: 1rem 1rem;
    font-family: 'Kirang Haerang';
}

.nav {
    background-color: antiquewhite;
    padding: 1rem 1rem;
    margin: 1rem 1rem;
}

.navelement {
    text-align: center;
    text-decoration: none;
    background-color: black;
    padding: 1rem 1rem;
    margin: 1rem 1rem;
}

.ftr {
    padding: 1rem 1rem;
    margin: 1rem 1rem;
    background-color: yellowgreen;
}

.ftrelement {
    text-align: center;
    padding: 1rem 1rem;
    margin: 1rem 1rem;
    background-color: orange;
}