.topcontainer {
    margin: auto;
}

.container {
    margin: auto;
}

.logo {
    margin: auto;
}

.nav {
    margin: auto;
}

.navelement {
    margin: auto;
}

.ftr {
    margin: auto;
}

.ftrelement {
    margin: auto;
}