.topcontainer {
    background-color: purple;
    position: absolute;
    width: 25vw;
    height: 100vh;
    display: overlay;
    opacity: 0.8;
    overflow: hidden;
    
    &.open {
        display: overlay;
        opacity: 0.8;
      }
}

.container {
    background-color: red;
    margin-right: 1rem;
    margin-left: 1rem;
    height: 100vh;
}

.logobox {
    background-color: yellow;
    padding: 1rem;
    margin: 1rem;
    font-family: 'Kirang Haerang';
}

.logotext {
    text-align: center;
    background-color: blue;
    padding: 1rem 1rem;
    font-family: 'Kirang Haerang';
}

.nav {
    background-color: antiquewhite;
    padding: 1rem 1rem;
    margin: 1rem 1rem;
    text-decoration: none;
}

.navelement {
    text-align: center;
    text-decoration: none;
    background-color: black;
    padding: 0rem 0rem;
    margin: 0rem 0rem;
    list-style-type: none;
}

.ftr {
    padding: 0rem 0rem;
    margin: 0rem 0rem;
    background-color: yellowgreen;
    bottom: 0;
}

.ftrelement {
    text-align: center;
    font-size: 90%;
    padding: 0rem 0rem;
    margin: 0rem 0rem;
    font-family: 'Cormorant Garamond';
}

.Link {
    color: white;
}

.activeLink {
    color: red;
}